---
- name: Print message
  debug: msg="-----------------Code Staging STARTING NOW -------------------------"
- name: Print message
  debug: msg="purging code under staging folder older than {{days}} days"
- name: include version
  include: "defaults/version.yml"
- name: finding folders older than {{days}} days
  find:
   paths: "/home/u27625/esp_folders/usr/local/web/sites/helium-dev/docs" #{{version_docs}}
   patterns: 'code*'
   file_type: directory
   #age: days
  register: code_result
- debug:
   msg: "code result is {{code_result}} ..................... path is  {{code_result.files[0].path}} "
- debug: msg="{{ code_result.files | sort(attribute='ctime') | map(attribute='path') | list }}"
- copy: content="{{  code_result.files | sort(attribute='ctime') | map(attribute='path') | list  }}" dest="/tmp/temp_{{date}}"
- name: finding working folders older than {{days}} days
  find:
   paths: "/home/u27625/esp_folders/usr/local/web/sites/helium-dev/docs" #{{version_docs}}
   patterns: 'code_from_cc*'
   file_type: directory|link
  register: code_result_1
- debug:
   msg: "code result is {{code_result_1}} ..................... path is  {{code_result_1.files[0].path}} "
- debug: msg="{{ code_result_1.files | sort(attribute='ctime') | map(attribute='path') | list | length }}"
- copy: content="{{  code_result_1.files | sort(attribute='ctime') | map(attribute='path') | list  }}" dest="/tmp/temp1_{{date}}"
- set_fact:
   count: "{{ code_result_1.files | sort(attribute='ctime') | map(attribute='path') | list | length }}"
   dir_list: "{{  code_result_1.files | sort(attribute='ctime') | map(attribute='path') | list  }}"
- debug: msg="count =================== {{ count}} , {{dir_list}} "
#- name: Loop   
- name: checking each folder #msg="{{ item.0 }}" 
#   var=item[1]
  find: 
   paths: "{{ item.0 }}"
   file_type: directory
  register: result_dir 
  debug: msg="{{result_dir}}"
  with_items: "{{dir_list}}"
