---
- name: Print message
  debug: msg="-----------------Code Staging STARTING NOW -------------------------"
- name: Print message
  debug: msg="purging code under staging folder older than {{days}} days"
- name: include version
  include: "defaults/version.yml"
- name: finding files older than {{days}} days
  find:
   paths: "/home/u27625/esp_folders/usr/local/web/sites/helium-dev/docs" #{{version_docs}}
   patterns: 'code*'
   age: 5
  register: code_result
- debug:
   msg: "code result is {{code_result}} "
