---
- name: checking for host BUAT
  set_fact:
   env: "BUAT"
  when: host == "gdcb13204"
- name: checking for host PROD
  set_fact:
   env: "PROD"
  when: host == "gdcb13392"
- debug: 
   msg: "env is {{env}}"  
- name: setting subject for mail
  set_fact:
   suject: "ESP {{env}} Deployment Report {{date}}"
- name: emailing reports
  mail: 
    host: 127.0.0.1
    port: 25
    from: susankoduvath@gmail.com
    subject: "ESP {{env}} Deployment Report {{date}}"
    to: susankoduvath@gmail.com #tolist
    cc: #cc list
    body: "Email body"    
    attach: #log files path
    charset: utf8
  delegate_to: localhost
  become: true
