---
- name: Print message
  debug: msg="Hello from version page !!!!"
- name: check environment for dev
  set_fact: 
   versions: "/usr/local/web/sites/helium-dev/docs/versions"
  when: env == "dev"
- name: check environment for uat
  set_fact: 
   versions: "/usr/local/web/sites/helium-uat/docs/versions"
  when: env == "uat"
- name: check environment for buat
  set_fact: 
   versions: "/amow07/mow/web/docs/versions"
  when: env == "buat"
- name: check environment for prod
  set_fact: 
   versions: "/amow13/mow/web/docs/versions"
  when: env == "prod"
- name: if environment is given incorrectly
  debug: msg = "{{versions}} DOESN'T Exists .. please check the {{env}}... exiting now -------- >>>>>>>>"
  when: versions == ""
- debug: 
   msg: "Versions is {{versions}}"
- name: find number of file/folders
  find:
   paths: "/home/u27625"#"{{ versions/datetotal }}"
  register: find_result
- debug: 
   msg: "Versions count= {{find_result.examined}} +++++ {{date}}"
- name: if count of files ==1
  set_fact: 
   dir: "code_from_cc_{{date}}"
  when: find_result.examined == 1
- name: if count of files >1
  set_fact: 
   dir: "code_from_cc_{{date}}_v{{find_result.examined}}"
  when: find_result.examined > 1

