---
- name: Print message
  debug: msg="Hello from version page !!!!"
- set_fact: check env for dev
   versions: "/usr/local/web/sites/helium-dev/docs/versions"
  when: env == "dev"
- debug: 
   msg: "Versions is {{versions}}"

